*{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
body{
    background: #ededed;
}
#app{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
.head{
    width: 100%;
    background: #399c9c;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 30px 0;
    margin-bottom: 20px;
}
.nav{
    font-size: 13px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 30px;
}
.nav a{
    color: #fff;
    margin: 0 30px;
}
.nav a:hover{
    color: #9c396b;
}
#item-box{
    width: 100%;
    column-count: 2;
    column-gap: 30px;
    counter-reset: item-counter;
    text-align: center;
    box-sizing: border-box;
}
.item{
    text-decoration: none;
    color: #000;
}
.box{
    height: 100%;
    overflow: auto;
    margin-bottom: 30px;
    transition: all 0.2s;
    cursor: pointer;
    box-sizing: border-box;
}
.box:hover{
    transform: scale(0.9);
}
.title{
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 15px 25px;
    line-height: 38px;
    border-bottom: 3px solid #e2e2e2;
    text-align: left;
    background: #fff;
}
.tip,.time{
    position: relative;
    background: #fff;
    padding: 15px 25px;
    box-sizing: border-box;
    color: #7a7e81;
    font-size: 14px;
    text-align: left;
    line-height: 14px;
}
.time{
    text-align: right;
    padding: 0 25px 10px;
}
@media screen and (max-width: 1000px) {
    .title{
        font-size: 15px;
        padding: 10px;
        line-height: 18px;
    }
    .tip,.time{
        padding: 10px;
        font-size: 12px;
        line-height: 15px;
    }
    .time{
        padding: 0 10px 5px;
    }
}