/*重置*/
*, html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, span{ margin: 0; padding: 0; }
ul{ list-style: none; }
a, img{ display: inline-block; }
a{ text-decoration: none; }
img{ vertical-align: top; border: none; }
html{ font-family: '微软雅黑', Helvetica, Arial, sans-serif; font-size: 20px; }
html, body{ height: 100%; overflow: hidden; }
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, #000000 0%, transparent 80%);
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* Bubble Bottom */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #673B01 transparent transparent transparent;
}
.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
.w .m .c-box .c .intro, .w .m .c-box .c .news{
	width: 650px;
	height: 400px;
	position: absolute;
	right: 40px;
	bottom: 70px;
	background-color: #805823;
	color: #F0E7DE;
	box-sizing: border-box;
	padding: 30px 30px;
	border-radius: 30px; }
.w{
	height: 100%;
	position: relative;
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	/*主体结束*/
}
/*主体*/
.w .m{ width: 1200px; height: 886px; background: #ffffff; background: rgba(255,255,255,0.6); }
/*导航条*/
.w .m .nav{ position: absolute; border: 4px solid rgb(177, 41, 35); overflow: hidden; width: 88%; left: 50%; margin-left: -44%; bottom: 100px; box-sizing: border-box; border-left: none; border-right: none; }
.w .m .nav li{ font-size: 18px; font-weight: bold; float: left; cursor: pointer; width: 20%; text-align: center; line-height: 40px; -webkit-transition: all 0.5s; transition: all 0.5s }
.w .m .nav li:hover{ color: rgb(177, 41, 35); }
/*主体*/
.w .m .c-box{ position: absolute; width: 88%; left: 50%; margin-left: -44%; top: 0; bottom: 150px; }
/*border: $border_test;*/
.w .m .c-box .c{ width: 100%; height: 100%; display: none; }
/*首页内容*/
.w .m .c-box .c .hImg1{ position: absolute; left: 120px; top: 90px; width: 180px; height: 420px; background: url(../img/s1.png) no-repeat; background-size: 100% 100%; }
/*border: $border_test;*/
.w .m .c-box .c .hImg2{ position: absolute; width: 480px; height: 400px; top: 110px; right: 90px; background: url(../img/s2.png) no-repeat; background-size: 100% 100%; }
.w .m .c-box .c .hImg4{ position: absolute; left: 50px; top: 45px; width: 280px; height: 640px; background: url(../img/s1.png) no-repeat; background-size: 100% 100%; }
.w .m .c-box .c .hImg5{ position: absolute; right: 360px; top: 16px; width: 350px; height: 242px; background: url(../img/s2.png) no-repeat; background-size: 100% 100%; }
/*简介title*/
.w .m .c-box .c .intro-title{ position: absolute; right: 290px; top: 200px; font-size: 20px; font-weight: bold; line-height: 48px; text-align: center; color: #fff; width: 160px; background: url(../img/s4.png) no-repeat; background-size: 100% 100%; }
/*公司简介*/
.w .m .c-box .c .intro{ font-size: 15px; text-align: justify; line-height: 25px; }
/*新闻动态*/
.w .m .c-box .c .news{ font-size: 14px; }
.w .m .c-box .c .news ul{ width: 590px; height: 340px;/*border: $border_test;*/ display: none; position: absolute; left: 50%; top: 50%; margin-left: -295px; margin-top: -170px; }
.w .m .c-box .c .news ul li{ line-height: 40px; overflow: hidden; -webkit-transition: all 0.5s; transition: all 0.5s; border-bottom: dashed 1px #fff; }
.w .m .c-box .c .news ul li a{ float: left; font-size: 15px; color: #fff; }
.w .m .c-box .c .news ul li span{ display: inline-block; float: right; }
/*分页器*/
.w .m .c-box .c .news .pageNum{ width: 590px; position: absolute; bottom: 25px; line-height: 30px; color: #fff;/*border: $border_test;*/ text-align: center; }
.w .m .c-box .c .news .pageNum .num{ display: inline-block; text-align: center; border: 1px solid #fff; width: 30px; margin: 0 1px; cursor: pointer }
.w .m .c-box .c .news .pageNum .num:hover{ border: 1px solid #FF6500; background: #FFBE94; color: #FF6500; }
.w .m .c-box .c .news .pageNum .numAc{ border: 1px solid #FF6500; background: #FFBE94; color: #FF6500; }
/*产品展示*/
.w .m .c-box .c .proMenu{ width: 670px; height: 35px; position: absolute; right: 30px; top: 265px; background: #673B01; }
.w .m .c-box .c .proMenu li{ float: left; color: silver; font-size: 16px; line-height: 35px; text-align: center; padding: 0 13px; cursor: pointer }
.w .m .c-box .c .proMenu li:hover{ color: #fff; }
.w .m .c-box .c .product{ width: 670px; height: 410px; min-height: 410px; position: absolute; right: 30px; top: 310px; background: #AE8E63; overflow: auto; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; opacity: .7; }
/*滚动条*/
.w .m .c-box .c .product .mCSB_scrollTools{ right: 5px; }
.w .m .c-box .c .product .mCSB_inside>.mCSB_container{ margin-right: 0; }
.w .m .c-box .c .product .mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp{ background-position: -17px 0; }
.w .m .c-box .c .product .mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown { background-position: -17px -20px; }
.w .m .c-box .c .product .proBox{ width: 163px; height: 185px; display: inline-block; box-sizing: border-box; padding: 6.5px; text-align: center; cursor: pointer; opcity: 1; }
.w .m .c-box .c .product .proBox img{ width: 140px; height: 140px; }
.w .m .c-box .c .product .proBox span{ display: inline-block; width: 100%; font-size: 14px; color: #fff; }
/*联系我们*/
.w .m .c-box .c .about{ width: 670px; height: 450px; position: absolute; bottom: 20px; right: 30px; background: #FEF2D1; }
.w .m .c-box .c .about .info{ width: 170px; height: 330px; position: absolute; left: 40px; top: 50px; -webkit-writing-mode: tb-rl; -ms-writing-mode: tb-rl; writing-mode: tb-rl; font-size: 22px; line-height: 34px; text-shadow: -2px 2px 14px black; }
.w .m .c-box .c .about .map{ width: 400px; height: 350px; position: absolute; right: 30px; bottom: 80px; }
/*baidu map*/
.w .m .c-box .c .about .map .iw_poi_title { color:#CC5522; font-size:14px; font-weight:bold; overflow:hidden; padding-right:13px; white-space:nowrap }
/*border: $border_test;*/
.w .m .c-box .c .about .map .iw_poi_content { font:12px arial,sans-serif; overflow:visible; padding-top:4px; white-space:-moz-pre-wrap; word-wrap:break-word }
.w .m .c-box .c .about .about-bottom{ width: 100%; height: 60px; position: absolute; left: 0; bottom: 0; background: url(../img/s6.png) repeat-x; }
.w .m .c-box .ac{ display: block; }
.w .m .c-box .hImg3{ position: absolute; width: 160px; height: 160px; top: 0; right: 60px; background: url(../img/s3.png) no-repeat; background-size: 100% 100%; }
/*页脚*/
.w .m .footer{ position: absolute; width: 100%; bottom: 20px; }
.w .m .footer p{ font-size: 14px; width: 100%; text-align: center; line-height: 30px; }
/*页脚结束*/
.w .m .full{ width: 100%; height: 100%; position: absolute; left: 0; right: 0; background: #ffffff; background: rgba(255,255,255,0.9); display: none; }
.w .m .full .full-title{ width: 100%; display: inline-block; margin: 50px auto; text-align: center; font-size: 25px; font-weight: bold; }
.w .m .full .full-content{ height: 730px; position: absolute; width: 1000px; left: 0; right: 0; bottom: 30px; margin: auto; overflow: auto; }
.w .m .full .full-close{ width: 64px; height: 64px; position: absolute; top: 34px; right: 58px; background: url(../img/remove.png) no-repeat; background: url(../img/remove.png) no-repeat; cursor: pointer; }
/*w结束*/

